/*
 * PassHub API
 * PassHub API documentation
 *
 * OpenAPI spec version: 1.1
 * 
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 */


package com.bymdev.voucherhub.api;

import com.bymdev.voucherhub.ApiCallback;
import com.bymdev.voucherhub.ApiClient;
import com.bymdev.voucherhub.ApiException;
import com.bymdev.voucherhub.ApiResponse;
import com.bymdev.voucherhub.Configuration;
import com.bymdev.voucherhub.Pair;
import com.bymdev.voucherhub.ProgressRequestBody;
import com.bymdev.voucherhub.ProgressResponseBody;

import com.google.gson.reflect.TypeToken;

import java.io.IOException;


import com.bymdev.voucherhub.model.VendorDetailDTO;

import java.lang.reflect.Type;

public class VendorResourceApi {
    private ApiClient apiClient;

    public VendorResourceApi() {
        this(Configuration.getDefaultApiClient());
    }

    public VendorResourceApi(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return apiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    /**
     * Build call for getAllVendors
     * @param query query text (optional)
     * @param size quantity of listed records on page (optional)
     * @param page listing starts from page value (optional)
     * @param sortBy sort by (optional)
     * @param sortOrder sort order (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call getAllVendorsCall(String query, Integer size, Integer page, String sortBy, String sortOrder, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/api/v2/vendors";

        java.util.List<Pair> localVarQueryParams = new java.util.ArrayList<Pair>();
        java.util.List<Pair> localVarCollectionQueryParams = new java.util.ArrayList<Pair>();
        if (query != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("query", query));
        if (size != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("size", size));
        if (page != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("page", page));
        if (sortBy != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("sortBy", sortBy));
        if (sortOrder != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("sortOrder", sortOrder));

        java.util.Map<String, String> localVarHeaderParams = new java.util.HashMap<String, String>();

        java.util.Map<String, Object> localVarFormParams = new java.util.HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "X-Api-Key" };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call getAllVendorsValidateBeforeCall(String query, Integer size, Integer page, String sortBy, String sortOrder, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        

        com.squareup.okhttp.Call call = getAllVendorsCall(query, size, page, sortBy, sortOrder, progressListener, progressRequestListener);
        return call;

    }

    /**
     * getAllVendors
     * Required permissions: CAN_GET_VENDORS
     * @param query query text (optional)
     * @param size quantity of listed records on page (optional)
     * @param page listing starts from page value (optional)
     * @param sortBy sort by (optional)
     * @param sortOrder sort order (optional)
     * @return java.util.List&lt;VendorDetailDTO&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public java.util.List<VendorDetailDTO> getAllVendors(String query, Integer size, Integer page, String sortBy, String sortOrder) throws ApiException {
        ApiResponse<java.util.List<VendorDetailDTO>> resp = getAllVendorsWithHttpInfo(query, size, page, sortBy, sortOrder);
        return resp.getData();
    }

    /**
     * getAllVendors
     * Required permissions: CAN_GET_VENDORS
     * @param query query text (optional)
     * @param size quantity of listed records on page (optional)
     * @param page listing starts from page value (optional)
     * @param sortBy sort by (optional)
     * @param sortOrder sort order (optional)
     * @return ApiResponse&lt;java.util.List&lt;VendorDetailDTO&gt;&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<java.util.List<VendorDetailDTO>> getAllVendorsWithHttpInfo(String query, Integer size, Integer page, String sortBy, String sortOrder) throws ApiException {
        com.squareup.okhttp.Call call = getAllVendorsValidateBeforeCall(query, size, page, sortBy, sortOrder, null, null);
        Type localVarReturnType = new TypeToken<java.util.List<VendorDetailDTO>>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * getAllVendors (asynchronously)
     * Required permissions: CAN_GET_VENDORS
     * @param query query text (optional)
     * @param size quantity of listed records on page (optional)
     * @param page listing starts from page value (optional)
     * @param sortBy sort by (optional)
     * @param sortOrder sort order (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call getAllVendorsAsync(String query, Integer size, Integer page, String sortBy, String sortOrder, final ApiCallback<java.util.List<VendorDetailDTO>> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = getAllVendorsValidateBeforeCall(query, size, page, sortBy, sortOrder, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<java.util.List<VendorDetailDTO>>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
}
